<?xml version="1.0"?>
<!--
  Purpose: Injects custom styling into CMS interface to add Environment specific styling
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <!--ENVIRONMENT STYLING
        Styling to be applied on this environment.
        You can create you own, just make sure the matching CSS file exists in the folder below.
        Default options: LOCAL|DEV|TEST|UAT|PREPROD|PROD|ANIMATED|RAINBOW
    -->
    <sc.variable name="sc.Environment" value="LOCAL"/>
    
    <settings>
      <setting name="FS.EnvironmentStyler.CssFile" value="/sitecore modules/EnvironmentStyler/environment-override-$(sc.Environment).css" />
      <setting name="FS.EnvironmentStyler.Paths" value="~/sitecore/login/default.aspx|~/sitecore/shell/default.aspx|~/sitecore/shell/applications/Content Manager/default.aspx" />
    </settings>

    <pipelines>
      <speak.client.getPageStylesheets>
        <processor patch:before="*[1]" type="ForwardSlash.SC.EnvironmentStyler.InsertCustomSpeakResource, ForwardSlash.SC.EnvironmentStyler" desc="FS.EnvironmentStyler" />
      </speak.client.getPageStylesheets>
    </pipelines>

    <pageextenders>
      <pageextender type="ForwardSlash.SC.EnvironmentStyler.InsertCustomResource, ForwardSlash.SC.EnvironmentStyler" desc="FS.EnvironmentStyler" />
    </pageextenders>

  </sitecore>
</configuration>
